[Unit]
Description=Nexus Service

[Service]
LimitNPROC=65535
LimitNOFILE=65535
Type= forking
WorkingDirectory=/apps/nexus/bin
RemainAfterExit=yes
ExecStart=/apps/nexus/bin/nexus start
ExecStop=/apps/nexus/bin/nexus stop
ExecReload=/apps/nexus/bin/nexus restart
User=nexus_user
Restart=on-abort
TimeoutSec=600

[Install]
WantedBy= multi-user.target